---
//@ts-nocheck

import Layout from "../../layouts/Layout.astro";
import Banner from "../../components/Banner.astro";
import Listeview from "../../components/Listeview.astro";
import Header from "../../components/Header.astro";

const curl = "https://weydcspvvunwbeoolpli.supabase.co/rest/v1/AnotherCloset?category=eq.cloths";

const apikey = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndleWRjc3B2dnVud2Jlb29scGxpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc2NDY5MDMsImV4cCI6MjA2MzIyMjkwM30.n23gpeZ4XikBpL5r_vuSYntCRJLQ7lqiLq92_HovPJo";

const options = {
  headers: {
    apikey: apikey,
  },
};

const data = await fetch(curl, options).then((response) => response.json());
console.log(data);

export async function getStaticPaths() {
  const curl = "  https://weydcspvvunwbeoolpli.supabase.co/rest/v1/AnotherCloset?select=*";

  const apikey = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndleWRjc3B2dnVud2Jlb29scGxpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc2NDY5MDMsImV4cCI6MjA2MzIyMjkwM30.n23gpeZ4XikBpL5r_vuSYntCRJLQ7lqiLq92_HovPJo";

  const options = {
    headers: {
      apikey: apikey,
    },
  };
  const response = await fetch(curl, options);
  const data = await response.json();

  return data.map((post) => {
    return {
      params: { id: post.id.toString() },
      props: { post },
    };
  });
}

const { id } = Astro.params;
const { post } = Astro.props;
---

<Layout>
  <Header />
  <section class="single_view">
    <div class="billede">
      <img src={post.image} alt="billede af tøj" />
    </div>
    <div>
      <h2>{post.name}</h2>
      <p><strong>{post.brand}</strong></p>
      <p>{post.description}</p>
      <p><strong>Størrelse:</strong> {post.size}</p>
      <p><strong>Stand:</strong> {post.condition}</p>
      <p><strong>Vask:</strong> {post.wash}</p>
      <p><strong>Ejer:</strong> {post.owner}</p>
      <p>
        Dette stykke tøj tilhører klædeskabet <br />
        <strong>{post.closet}</strong>
      </p>
    </div>
  </section>
  <Banner />
  <h1>Se flere favoritter</h1>
  <section class="card_grid">
    {data.map((product) => <Listeview {product} />)}
  </section>
  <Banner />
</Layout>

<style>
  h1 {
    text-transform: uppercase;
    color: #393903;
    text-align: center;
    font-family: "Crimson Pro";
    font-weight: 300;
    margin-bottom: 0;
    font-size: clamp(2rem, 6vw, 8rem);
    margin-top: 8%;
  }

  .card_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin: 2%;
  }

  p {
    font-weight: 200;
  }

  @media (min-width: 640px) and (max-width: 1024px) {
    h1 {
      font-size: clamp(2rem, 6vw, 8rem);
      margin-top: 5%;
    }

    .card_grid {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      margin: 1%;
    }
  }

  @media (min-width: 1024px) {
    .card_grid {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      margin: 1%;
    }

    h1 {
      font-size: clamp(2rem, 6vw, 8rem);
      margin-top: 5%;
    }
  }

  .single_view {
    background-color: #f2dfd5;
    align-items: center;
    padding-bottom: 5%;
    padding-top: 10%;
  }

  .billede {
    text-align: center;
  }

  .billede img {
    width: 70%;
    border-radius: 10px;
  }
  h2 {
    color: #393903;
    text-align: center;
    text-transform: uppercase;
    font-family: "Crimson Pro";
    font-weight: 300;
    font-size: 32px;
  }
  p {
    color: #393903;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 15px;
    font-family: "Crimson Pro";
  }

  @media (min-width: 768px) and (max-width: 1200px) {
    .single_view {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-bottom: 5%;
      padding-top: 5%;
    }

    .billede {
      text-align: center;
      padding-left: 10%;
    }

    .billede img {
      width: 90%;
      margin-top: 8%;
      border-radius: 10px;
    }

    h2 {
      font-size: 40px;
      margin-top: 0;
      padding-left: 10%;
      padding-right: 10%;
    }
    p {
      color: #393903;
      text-align: center;
      padding-left: 10%;
      padding-right: 10%;
      font-size: 18px;
    }
  }

  @media (min-width: 1200px) {
    .single_view {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-bottom: 5%;
      padding-top: 0%;
    }

    .billede img {
      width: 80%;
      margin-top: 8%;
      border-radius: 10px;
    }

    h2 {
      font-size: 76px;
      margin-top: 0;
      padding-left: 10%;
      padding-right: 10%;
    }
    p {
      padding-left: 20%;
      padding-right: 20%;
      font-size: 24px;
    }
  }
</style>
